<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.angcyo.uikitdemo">

    <!--截图ContentObserver 监听权限, 似乎部分手机上可以不需要-->
    <uses-permission android:name="MediaStore.Images.Media.INTERNAL_CONTENT_URI" />
    <uses-permission android:name="MediaStore.Images.Media.EXTERNAL_CONTENT_URI" />

    <!--NFC-->
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale|smallestScreenSize|density|screenLayout"
            android:launchMode="singleTask"
            android:supportsPictureInPicture="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--NFC标签信息-->
        <activity
            android:name=".NfcTechInfoActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" />

        <!--android:screenOrientation=""-->
        <!--android8 透明的activity 不允许请求屏幕方向-->
        <!--NFC标签发现跳板-->
        <activity
            android:name=".HandleNfcTech"
            android:excludeFromRecents="true"
            android:label="UIKitDemo-NFC"
            android:launchMode="singleInstance"
            android:taskAffinity=""
            android:theme="@style/BaseNoDisplay">

            <!-- Add a technology filter -->
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />

        </activity>
    </application>

</manifest>